@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
  

/* Override 100% width */
.my-component {
    width: auto !important;
    max-width: initial !important;
  }
  
  /* Override global margin/padding */
  body, html {
    margin: 0;
    padding: 0;
  }
  